@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.settings-container {
  background: #1A1B1F;
  color: #FFFFFF;
  padding: 2rem;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 80px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  max-width: 1200px;
  width: 100%;
  margin-bottom: -40px;
}

.settings-sidebar-container {
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.settings-sidebar {
  width: 200px;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
}

.settings-sidebar button {
  background: none;
  border: none;
  color: #ccc;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.settings-sidebar button.active {
  color: white;
  font-weight: bold;
  border-left: 3px solid #fede54;
}

.settings-content {
  height: 100vh;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  z-index: 1;
}

section {
  margin-bottom: 50px;
}

.settings-section {
  background: #242529;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}